<!DOCTYPE html>

<html, lang="en">

    <head>
        <title>Todo Lists</title>
    </head>

    <body>
        <main>
            <div>
                <h1>My Lists</h1>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of items</th>
                        </tr>
                    </thead>
                    {% for names in todolist_list %}
                    <tbody>
                        <td>{{ names.name }}</td>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </main>
    </body>

    </html>